*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
Generated\ Files/
StyleCopReport.xml
*.[Rr]e[Ss]harper
*.DotSettings.user
*.dotCover
.sass-cache/
*.nupkg
**/[Pp]ackages/*
*.nuget.props
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
.ntvs_analysis.dat
node_modules/
build
/source/.idea/*
!/source/.idea/.idea.*
/source/.idea/.idea.*/*
!/source/.idea/.idea.*/.idea
/source/.idea/.idea.*/.idea/*
!/source/.idea/.idea.*/.idea/runConfigurations
*.sln.iml
/.idea
.junie/*
!.junie/AGENTS.md
/source/.junie/*